.form, .field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form input[type="text"], .form select{
    padding: 1rem;
    background-color: rgb(35, 35, 139);
    border: .3rem solid var(--white);
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}
.form input[type="text"]::placeholder{
    color: white;
    background-color: transparent;
}
.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem ;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
}
.error{
    font-size: 1.7rem;
    padding: 0.5rem;
    color: rgb(216, 183, 183);
    border-radius: 1rem;
    width: fit-content;
    margin-top: 0;
}