.container {
    background-color: var(--white);
    color: black;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}

.current {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

.temperatures {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
}

.temperatures p {
    font-weight: 400;
}

.temperatures span {
    font-weight: 400;
}