:root{
  --white: #FFF;
  --primary: #ce5a0d;
}
html {
  font-size: 62.5%;
}
body{
  background-image:url("/bg_clima.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  height: 100vh;

  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}